/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)
        ), 
        url(../img/hero.jpg);/* order matters - first gradient then bg image */
    background-size: cover;
    background-position: top; /*bottom, center*/
    position: relative;

    /*Use clippy for making clip-paths*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
    position: absolute;
    left: 40px;
    top: 40px;
}

.logo {
    /* Width will adjust automatically. We would have adjusted width and height would have adjusted automatically */
    height: 35px
}

/* 
This was just to show that animtions could be used on hover of an element too
.logo:hover {
    animation: moveInRight 3s ease-out;
} */

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    backface-visibility: hidden; /* To fix shakyness in the animation */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-iteration-count: 3; // Number of times animation should happen
    animation-delay: 3s; // Time to wait before animation takes place
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 14.4px;

    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*
:link - initial state of the button
:visited - We have already clicked the button
:hover - when user take mouse over and out of the element
:active - mouse down state of the button
*/

.btn:link
, .btn:visited { 
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative; /* To position .btn-white:after below .btn  */
}

.btn:hover {
    transform: translateY(-3px); /* Moves -3px in respect to :link state */
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /* Moves -3px in respect to :link state */
    box-shadow: 0 10px 6px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color:#777;
}

.btn::after {
    content: ''; /* this attribute is mandatory for :after or :before, otherwise it will not be visible on the screen */
    display: inline-block; /* Keep it same as original .btn:link */
    width: 100%; /*This will take the whole width of .btn:link*/
    height: 100%; /*This will take the whole height of .btn:link*/
    border-radius: 100px; /* copied it from .btn:link */
    transition: all .6s;
}

.btn-white:after {
    background-color: #fff;
    position: absolute; /* To position it below .btn:link */
    top: 0;
    left: 0;
    z-index: -1;
}

.btn:hover::after { /*this declaration will affect .btn:after when .btn is hovered*/
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* It will apply the 0% state of moveInBottom animation to the .btn*/
}